.card{
  border-radius: 15px;
}
.content-background{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.form-background{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0px 15px 15px 0px;
}
.form-background>input{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}